includes:
    - ../vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	checkGenericClassInNonGenericObjectType : false
	universalObjectCratesClasses:
		- WP_Post
	paths:
		- ../inc
		- ../simple-menu-block.php