.wp-block-rcm-simple-menu[data-layout="horizontal"] {
    
    ul {
        margin: 0;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        gap: var( --smb-menu-gap, 8px );
    }

    a, a:link {
        display: block;
        text-decoration: var( --smb-link-text-decoration, none );
        width: 100%;
        line-height: var( --smb-link-text-decoration, 1 );
        padding: var( --smb-link-padding, 1em );
    }

    .menu-item {
        display: inline-block;
        border: none;
        position: relative;
        width: auto;
        
        &:hover,
        &:focus,
        &[aria-expanded="true"] {
            
            > .sub-menu {
                opacity: 1;
                visibility: visible;
            }
        }
        > .sub-menu[aria-expanded="true"] {
            opacity: 1;
            visibility: visible;
        }
    }
    .menu-item .sub-menu {
        
        .nav-item-container {
            padding: 0;
        }
        
        li:hover,
        li:focus,
        li[aria-expanded="true"]{
            > .sub-menu {
                opacity: 1;
                visibility: visible;
            }
        }
        
        .sub-menu[aria-expanded="true"] {
            opacity: 1;
            visibility: visible;
        }

    }
    .sub-menu {
        position: absolute;
        top: 100%;
        background-color: var( --smb-sub-menu-bg, #fff );
        min-width: var( --smb-sub-menu-width, 200px );
        line-height: 1;
        text-align: left;
        z-index: 999;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        box-shadow: var( --smb-sub-menu-box-shadow, 0 2px 6px rgba(0,0,0,0.1) );
        display: block;
        padding: var( --smb-sub-menu-padding, 0 );
        border-radius: var( --smb-sub-menu-padding,  0 0 2px 2px );
        opacity: 0;
        visibility: hidden;
        
        li {
            display: block;
        }
        
        .sub-menu {
            top: 0;
            left: 100%;
        }
        
        a, a:link {
            padding: 1em 1.5em;
            color: var( --smb-sub-menu-link-color, currentColor );
            text-transform: none;
            font-size: var( --smb-sub-menu-link-font-size, .9em );;
        }
    }
}